* {
    box-sizing: border-box;
    margin: 0;
    color: aliceblue;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Lilita One', cursive;
    background: #3c3c3c;
    height: 10vh;
    width: 100%;
    border-bottom: 2px solid aliceblue;
}

#title {
    padding-left: 2vw;
    font-size: 2rem;
}

#menu {
    list-style: none;
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    padding-right: 5vw;
}

#menu ul {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
}

li {
    list-style: none;
    padding: .5rem;
}

a {
    text-decoration: none;
}

a:hover {
    color: aqua;
}

section {
    text-align: justify;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(25,20,20,1) 35%, rgba(60,60,60,1) 100%);
}

section h2 {
    font-family: 'Permanent Marker', cursive;
    font-size: 3rem;
    text-align: center;
    padding: .5em 0;
}

section h3{
    font-family: 'Permanent Marker', cursive;
    font-size: 1.5rem;
    text-align: center;
}

section p{
    font-family: Lucida Sans;
    margin: .5em 2em;
}

article{
    margin: 2% 1%;
    text-align: justify;
}
article h1{
    text-align: center;
    font-size: 3.5rem;
    font-family: 'Permanent Marker', cursive;
}